body {
  background-image: url("kitchen.png");
  background-repeat: no-repeat;
  -webkit-background-size: center;
  }
  .image-sprite {
    background-image: url("PoliceCommissioner.png");
  }
#option2, #option3, #option4 {
  visibility: hidden;
}
