body {
  background-image: url("futuristic.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
}
.game-name {
  text-align: center;
  position: relative;
  font-style: arial;
}
p.inner-text {
  text-align: center;
  opacity: 100%;
  -webkit-transition: width 2s, height 4s;
  transition: width 2s, height 4s;
}
.main-text-screen {
  margin-left: 400px;
  margin-right: 10%;
  left: 100px;
  height: 600px;
  width: 600px;
  position: absolute;
  z-index: 2;
  text-align: center;
  float: center;
  -webkit-box-shadow: inset 0 0 10px #000000;
  /* background-image: url(1.png); */
  background: rgb(156,202,191, 0.5);
  background-image: opacity: 0.3px;
  /* opacity: 0.3; */
  border-radius: 10px 10px 10px 10px
}
.inner-text {
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
z-index: 4;
font-size: 18px;
}
.sprite-placement {
  position: relative;
  z-index: 3;
  height: 400px;
  width: 200px;
  background-image: url("Kiyoko generic.png");
  border: dashed;
  float: right;
  top: 200px;
  right: 271px;
}
/* .outer-box {
  border: dashed black 1px;
  margin-bottom: 10px;
  position: fixed;
} */
